.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.server-style {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.bar {
  border: 1px solid #666;
  margin-top: 20px;
  height: 5px;
  width: 100%;
  background-color: rgb(182, 188, 226);
}
.in {
  animation: fill 20s linear infinite;
  height: 100%;
  background-color: #3f51b5;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
